
{% extends "base.html" %}

{% block title %}Solution Architect Database{% endblock %}

{% block header %}<link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">{% endblock %}

{% block content %}

{% include "navbar.html" %}


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron home-jumbo">
      <div class="container">
        <img src="{{ url_for('static', filename='assets/logo_10.JPG') }}" width="1020" />
        <h2>Solution Architect Database!</h2>
        <p>A place for keeping track of things you need to keep track of
        <p> Welcome {{ sa }}
    </div>
    </div>

</div>
{% endblock %}
