{% extends "base.html" %}

{% block title %}Help{% endblock %}

{% block content %}

{% include "navbar.html" %}
{% with messages = get_flashed_messages() %}

{% if messages %}

<ul class="flashes">
    {% for message in messages %}
    <p style=  "color:#ff0000;">
    <li>{{ message}}</li>
    {% endfor %}

</ul>

{% endif %}

{% endwith %}

<div class="col-xs-10">
    <h1>Help for SA activitiy database</h1>
    <p> Argus help information</p>
    <p>
    <h3> Functions for the SA </h3>
    <b> New Entry</b>

    <p>The Record number, SA, and Date are all auto populated with the current timestamp.
      In the field are two text areas to enter additional information. The Entry field is for
      any notes, comment, dates, and relavant data.<p>

    <p>The Comment/Issues area is for anythin that may casue an imapct into what the event is about.<p>

    <p>Once complete click the button at the bottom of the screen.<p>

    <b> List Entry</b>

    <p>List all the entries in the database for the current SA.<p>


    <b> Delete Entry</b>

    <p>Choose the entry number to delete.<p>

    <b> Edit Entry</b>

    <p>Choose the entry number to Edit.<p>

    <b> Edit Entry</b>

    <p>Choose the entry number to Edit.<p>

      <b> Clone Entry</b>

      <p>Choose the entry number to Clone. Cloning an entry copies the record to a new date and record number.
        Use this if you were working on an entry in the past and you have returned to the
        same activity.<p>

          <h3> Functions for the Manager </h3>
          <b> List All</b>

          <p>Lists all the records in the database.<p>

            <b> List By SA</b>

            <p>Lists all the records for a single SA.<p>

              <b> Download Excel</b>

              <p>Allows the manager to download all the records for a specific date forward.<p>
  </div>

</div>
{% endblock %}
