{% extends "base.html" %}

{% block title %}Clone Entry{% endblock %}

{% block content %}

{% include "navbar.html" %}

<div class="col-xs-10">
    <h3>Clone Entry</h3>

    {% from "_formhelpers.html" import render_field %}
    <form  method="POST" action="{{ url_for('.upclone')}}" role="form">

      <table class="table">
        <tr>
          <td>Record Number: <input type=text class="form-control" value={{more.num}} required name="num" readonly></td>
          <td>Solutions Architect: <input type=text class="form-control" value={{more.sa}} required name="sa" readonly></td>
          <td>Time Stamp: <input type=text class="form-control" value={{more.now}} required name="now" readonly></td>

        </tr>
        <tr>
          <td>Entry: <textarea rows="4" cols="65" class="form-control" required name="message">{{more.message}}</textarea></td>
        </tr>
        <tr>
            <td>Concerns/Issues: <textarea rows="4" cols="65" class="form-control" required name="concern">{{more.concern}}</textarea></td>
        </tr>

      </table>

      <button type="submit" class="btn btn-primary btn-sm btn-block">Clone</button>

    </form>

  </div>

</div>
{% endblock %}
