{% extends "base.html" %}

{% block title %}Error{% endblock %}

{% block content %}

{% include "navbar.html" %}
{% with messages = get_flashed_messages() %}

{% if messages %}

<ul class="flashes">
    {% for message in messages %}
    <p style=  "color:#ff0000;">
    <li>{{ message}}</li>
    {% endfor %}

</ul>

{% endif %}

{% endwith %}

<div class="col-xs-10">
    <h3>Stashing temp user</h3>
    <h2> Error writing to database!</h2>
    <p> I don't think you know what you are doing </p>
    {{error}}

  </div>

</div>
{% endblock %}
